
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 5.8rem;
}.octave-1Lk {
  width: 100%;
  height: 2.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2150000466;
  letter-spacing: -0.054rem;
  color: #181717;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
