
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 8.4rem;
}.diesnatalis-TLL {
  height: 1.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.042rem;
  color: #606060;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  line-height: 1.2150000163;
}
