
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 111.656rem;
}.footer-kcG {
  width: 100%;
  display: flex;
  align-items: center;

  .mehmet-akif-karasu-2020-uk4 {
    margin-right: 52.4647rem;
    line-height: 1.2000000363;
    font-family: DM Sans, 'Source Sans Pro';
    flex-shrink: 0;
    white-space: nowrap;
    font-size: 2.1rem;
    font-weight: 500;
    letter-spacing: -0.063rem;
    color: #2429af;
  }
  .artstation-Qgp {
    margin-right: 3.6956rem;
    font-size: 2.1rem;
    font-weight: 500;
    flex-shrink: 0;
    line-height: 1.2000000363;
    letter-spacing: -0.063rem;
    color: #181717;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .linkedin-L4g {
    line-height: 1.2000000363;
    letter-spacing: -0.063rem;
    margin-right: 5.1956rem;
    font-weight: 500;
    color: #181717;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 2.1rem;
  }
  .twitter-er4 {
    flex-shrink: 0;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.2000000363;
    letter-spacing: -0.063rem;
    color: #181717;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
}
