
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 111.962rem;
}.navigation-bar-VDJ {
  box-sizing: border-box;
  padding: 0.3rem 0rem 0rem 73.509rem;
  width: 100%;
  height: 2.9rem;

  .menu-ozg {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;

    .work-MWQ {
      line-height: 1.2000000363;
      font-family: DM Sans, 'Source Sans Pro';
      margin-right: 3.2346rem;
      font-size: 2.1rem;
      color: #181717;
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 500;
      letter-spacing: -0.063rem;
    }
    .about-sUk {
      letter-spacing: -0.063rem;
      color: #181717;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 3.1275rem;
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 1.2000000363;
      white-space: nowrap;
    }
    .playground-bvY {
      margin-right: 3.0908rem;
      line-height: 1.2000000363;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.1rem;
      font-weight: 500;
      letter-spacing: -0.063rem;
      color: #181717;
    }
    .contact-LNL {
      flex-shrink: 0;
      font-size: 2.1rem;
      font-weight: 500;
      line-height: 1.2000000363;
      letter-spacing: -0.063rem;
      color: #181717;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
