
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 6.7rem;
}.skills-z2k {
  font-weight: 400;
  line-height: 1.1699999571;
  letter-spacing: -0.096rem;
  color: #181717;
  font-family: DM Sans, 'Source Sans Pro';
  width: 100%;
  height: 3.8rem;
  white-space: nowrap;
  display: flex;
  font-size: 3.2rem;
}
